<div class="content5">
  
  <% @tweet = Tweet.new unless @tweet %>
  <%= form_for(@tweet) do |f| %>
  
    
      <div class="row">
        <!--<div class="input-field col s12">-->
          
          <%= f.label :menu %>
          <%= f.text_field :menu, placeholder:"品目"%>
          
          <%= f.label :quantity %>
          <%= f.text_field :quantity %>
          
          <%= f.label :start_year %>
          <%= f.select :start_year, options_for_select(2019..2024), {include_blank: "選択してください"}, {class: "browser-default"} %>
          
          <%= f.label :start_month %>
          <%= f.select :start_month, options_for_select(1..12), {include_blank: "選択してください"}, {class: "browser-default"} %>
          
          <%= f.label :start_day %>
          <%= f.select :start_day, options_for_select(["上旬", "中旬", "下旬"]), {include_blank: "選択してください"}, {class: "browser-default"} %>
          
          <%= f.label :end_year %>
          <%= f.select :end_year, options_for_select(2019..2024), {include_blank: "選択してください"}, {class: "browser-default"} %>
          
          <%= f.label :end_month %>
          <%= f.select :end_month, options_for_select(1..12), {include_blank: "選択してください"}, {class: "browser-default"} %>
          
          <%= f.label :end_day %>
          <%= f.select :end_day, options_for_select(["上旬", "中旬", "下旬"]), {include_blank: "選択してください"}, {class: "browser-default"} %>
          
          
          
          <div class="form-group">
          <%= f.submit "送信", class: "btn btn-primary withripple" %>
          </div>
          
          <% end %>
        </div>
      <!--</div>-->
     
  </div>
  
  