<div class="row">
  
        
              
              <tbody>
      <tr>
    
    
    <!--これ大事-->
    <td><%= link_to user.name, user_path(user) %></td>
    
    
   
            
             <td><%= user.stage_title %></td>
             <td><%= user.tel %></td>
             <td><%= user.email %></td>
             <td><%= user.address %></td>
            </tr>
            </tbody>
             
</div>
      