<div class="user_profile">
    <!--<div class="blue darken-3">-->
　　　　<% if @user.image.attached? %>
        <div class="image" style="content: url(<%= rails_blob_path(@user.image) %>) "></div>
        
    
        <% end %>
       
        <p>名前</p>
        <h2><%= "#{@user.name}" %></h2>
        <p>屋号</p>
        <h2><%= "#{@user.stage_title}" %></h2>
        <p>営農地（市町村）</p>
        <h2><%= "#{@user.address}" %></h2>
        <p>TEL</p>
        <h2><%= "#{@user.tel}" %></h2>
        <p>mail</p>
        <h2><%= "#{@user.email}" %></h2>
</div>
        <div class="content1">
            <p><%= @user.name %>さんの出荷予定(未確定)</p>
             <table>
        <thead>
          <tr>
              <th>品目</th>
              <th>品種</th>
              <th>数量(pc)/日</th>
              <th>出荷開始日</th>
              <th>出荷終了日</th>
          </tr>
        </thead>
  
   <% @tweets.each do |tweet| %>
      <%= render partial: "tweets/tweet", locals: { tweet: tweet} %>
   <% end %>
   
  
   
    
    </table>
    
</div>
         <%= paginate(@tweets) %>
    