<div class="row form user_profole">
    <!--<div class="blue darken-3">-->
        <p>名前</p>
        <h2><%= "#{@user.name}" %></h2>
        <p>屋号</p>
        <h2><%= "#{@user.stage_title}" %></h2>
        <p>住所（市町村）</p>
        <h2><%= "#{@user.address}" %></h2>
        <p>TEL</p>
        <h2><%= "#{@user.tel}" %></h2>
        <p>e-mail</p>
        <h2><%= "#{@user.email}" %></h2>
        
        
    <!--</div>-->
</div>