<div class="syukka_content">
    <% @syukkas.each do |syukka| %>
    <p>納品日</p>
    <p><%= syukka.year %>年<%= syukka.month %>月<%= syukka.day %>日</p>
    
    <table>
        <thead>
          <tr>
              <th>生産者</th>
              <th>品目</th>
              <th>品種</th>
              <th>数量(pc)</th>
              
              <tbody>
    <tr>
      <td><%= syukka.farmer %></td>
      <td><%= syukka.menu %></td>
      <td><%= syukka.detail %></td>
      <td><%= syukka.quantity %></td>
      
          </tr>
        </thead>
        
        </table>
        <% end %>
</div>