<div class="content6">
  
 

     <% @memo = Memo.new unless @memo %>
    
     
      
      <%= form_for(@memo) do |f| %>
      <div class="form-group file">
        <%= f.file_field :image, class: "form-control floating-label", placeholder: "画像アップロード" %>
      </div>
      
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "例:大根出荷終了のお知らせ" %>
      
      <%= f.label :text %>
      <%= f.text_field :text ,placeholder: "例:大根そろそろ終了です。〇月〇日ころまで出せそうです。"%>
      
      
      
      <div class="form-group">
        <%= f.submit "送信", class: "btn btn-primary withripple" %>
      </div>
       <h5>TOPページに保存されます</h5>
      <% end %>
</div>