<div class="contents row">
  
        
    <div class="memo_image">
                <% if @memo.image.attached? %>
                <%= image_tag @memo.image %>
                
          <% end %>
          </div>
          
    <%= simple_format(@memo.title) %> 
    <%= simple_format(@memo.text) %>
    <br>
    <span>投稿者 </span><%= @memo.user.name %>
    
    
    
    
        
         <a class="btn" href="/memos">投稿一覧へ戻る</a>
         
         
         <!--確認ボタン-->
         <% unless current_user.already_checked?(@memo) %>
         <%= button_to '見ました', memo_checks_path(@memo) %>
         <% else %>
         <a class="btn">確認済み</a>
         <% end %>
         
         <!--ここまで-->
         
         
         <!-- ここからcommentフォーム -->
    <% if current_user %>
      <%= form_tag("/memos/#{@memo.id}/comments", method: :post) do %>
      
      <div class="row">
        <div class="input-field col s12">
          
          
          <textarea id="textarea1" class="materialize-textarea" name="text" type="text" placeholder="コメントする"></textarea>
          
          <input type="submit" value="sent" class="btn">
          <% end %>
          <% end %>
         
         </div>
         </div>
         
         <!--ここまで-->
         
         <!--コメント一覧-->
         
         <div class="comments">   
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
             <span><%= comment.user.name %></span>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
    
    <!--ここまで-->
</div>