<!DOCTYPE html>
<html>
  <head>
    <title>Tameni</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          
    <script
     src="https://code.jquery.com/jquery-3.3.1.js"
     integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
     crossorigin="anonymous">
    </script>
    
   
    
  </head>

  <body>
      
      
    
    <% if user_signed_in? %>
    
    <!-- Dropdown Structure -->
   <ul id="dropdown1" class="dropdown-content">
     <li><a href="/tweets/new">出荷予定</br>（登録）</a></li>
     <li class="divider"></li>
     <li><a href="">出荷予定</br>（確定）</a></li>
     <li class="divider"></li>
     <li><a href="#!">出荷履歴</a></li>
     <li class="divider"></li>
     <li><%= link_to "登録情報", user_path(current_user), method: :get %></li>
     <li class="divider"></li>
     <li><%= link_to "登録情報（編集）", edit_user_path(current_user), method: :get %></li>
   </ul>
   
   <nav class="blue darken-3">
     <div class="nav-wrapper">
       <a href="/" class="brand-logo">tameni</a>
       <ul class="right hide-on-med-and-down">
           <% if current_user.id == 1 %>
           <li><a href="/tweets">報告済み一覧（予定）</a></li>
         <li><a href="/admins/new">出荷規格（投稿）</a></li>
         <% end %>
         <li><a href="/admins">出荷規格</a></li>
         <li><a href="/memos/new">お問い合わせ</a></li>
         <li><a href="/tweets/search">検索</a></li>
         
         <!-- Dropdown Trigger -->
         <li><a class="dropdown-button", data-activates="dropdown1">マイページ<i class="material-icons right">arrow_drop_down</i></a></li>
         
         <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
         
         
         <% else %>
         <nav class="blue darken-3">
           <div class="nav-wrapper">
             <a href="/" class="brand-logo">tameni</a>
             <ul class="right hide-on-med-and-down">
               <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
               <li><%= link_to "ログイン", new_user_session_path, class: 'posy' %></li>
         <% end %>
               
         
       </ul>
     </div>
   </nav>
   
   <!--フラッシュメッセージ-->
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
   
    <%= yield %>
  </body>
</html>
